body {
  background: linear-gradient(
    217deg,
    rgba(255, 0, 0, 0.8),
    rgba(255, 0, 0, 0) 70.71%),linear-gradient(127deg, #3f57fb, rgb(37, 251, 255) 100.71%),
  linear-gradient(336deg, rgb(255, 29, 44), #fc466b 70.71%);
  font-family: var(--font-two);
}

/* #3ffbf7 */
/* #bb46fc */

img {
  height: 100px;
  width: 100px;
}
main {
  grid-column: 2 / 3;
}



html:before {
  animation: grain 8s steps(13) infinite;
  background-image: url(https://raw.githubusercontent.com/taimoorshahzada/Film-Grain-Noise-Effect-on-Background-in-Website-using-Pure-CSS/main/noise.gif);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.04;
  position: fixed;
  top: -110%;
  width: 300%;
  pointer-events:none;
}


@keyframes grain {
  0%, 100% { transform:translate(0, 0) }
  10% { transform:translate(-5%, -10%) }
  20% { transform:translate(-15%, 5%) }
  30% { transform:translate(7%, -25%) }
  40% { transform:translate(-5%, 25%) }
  50% { transform:translate(-15%, 10%) }
  60% { transform:translate(15%, 0%) }
  70% { transform:translate(0%, 15%) }
  80% { transform:translate(3%, 35%) }
  90% { transform:translate(-10%, 10%) }
}

 /* width */
 ::-webkit-scrollbar {
    width: 10px;
    border-radius: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #000;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000;
  } 