header {
    @apply row-header;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

body, 
header,
footer {
    @apply grid;
    @apply grid-cols-01-global-mobile md:grid-cols-01-global-desktop;
}

header,
footer {
    @apply grid-rows-auto;
    @apply col-fullpage-mobile md:col-fullpage-desktop;
}

body,
main,
aside {
    @apply grid-rows-01-global;
}

nav,
footer ul {
    @apply col-content-mobile md:col-content-mobile;
}
nav ul,
footer ul {
    @apply grid;
    @apply grid-cols-01-content-mobile md:grid-cols-01-content-desktop;
}


main {
    @apply grid;
    @apply row-fullpage-global;
}
aside {
    @apply row-fullpage-global;
}
aside {
    @apply col-aside-desktop;
    border-right: 1px solid #000;
}

main {
    @apply col-content-mobile md:col-content-desktop;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    height: 100vh;
}

footer {  
    @apply row-footer;
    @apply grid-rows-auto;

    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

}
aside ul {
    display: grid;
}

.pages {
    @apply row-main;
    column-gap: 25px;
}


