

body {
    @apply grid;
    @apply grid-cols-01-global-mobile md:grid-cols-01-global-desktop;
}




body,
main,
aside {
    @apply grid-rows-01-global;
}








main {
    @apply grid;
    @apply row-main-mobile lg:row-fullpage-global;

}
aside {
    @apply row-fullpage-global;
}
aside {
    @apply col-aside-desktop;
    border-right: 1px solid #000;
}

main {
    @apply col-content-mobile md:col-content-desktop;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    height: 100vh;
}


aside ul {
    display: grid;
}

.pages {
    @apply row-main;
    column-gap: 25px;
}


