@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-ExtraLightItalic.woff2') format('woff2');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-LightItalic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Drafting* Mono';
    src: url('/fonts/drafting-mono/DraftingMono-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


