aside ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

aside ul li a {
    width: 25px;
    height: 25px;
    padding: 10px 15px ;
    background-color: #000;
    border-radius: 50px;
    text-align: center;
    color: #fff;    
    cursor: pointer;
}

aside {
    grid-column: 3 / 3;
}
aside,
header {
    position: fixed;
    top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50px;
    border: 2px solid #000;
    height: 50px;
}

main {
    height: 300%;
}


