<div class="homepage pages">
    {{ photo_homepage }}
        <img class="photo-arthur" src="{{ url }}" alt="{{ alt }}">
    {{ /photo_homepage }}
    <div class="homepage-content">
        <h1>{{ title }}</h1>
        <div class="logline">Motivé / curieux / interessé</div>
        <p>{{ content }}</p>
        <div class="interest">
            <h2>Mes compétences et intérêts</h2>
            <ul>
                <li>— Interactive Media Design</li>
                <li>— Frontend development</li>
                <li>— UI / UX design</li>
                <li>— 3D arts</li>
            </ul>
        </div>
    </div>
</div>