<div class="project pages">
    {{ collection:liste_projects }}
    <input class="button-return" type="button" value="Retour" onclick="history.back()">
    <div class="hero-project project-module">
        <img src="{{ thumbnail_project }}" alt="">
        <div class="text-box">
            <h1>{{ title }}</h1>
            <div class="tags">photo / video / graphisme</div>
            <h2>{{ project_description }}</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, magni laudantium. Eos, exercitationem commodi inventore, saepe reprehenderit sit excepturi et accusantium mollitia, ipsam iure delectus corporis dolorem dolor quibusdam nesciunt?</p>
        </div>
    </div>

    <div class="project-content">
        {{ partial:components/project-text }}
        {{ partial:components/project-img }}
    </div>
    {{ collection:liste_projects }}
</div>


<div id="app">{{ message }}</div>