.project-box {
    @apply grid;
    @apply grid-cols-01__content-mobile md:grid-cols-01__content-desktop;
    column-gap: 25px;
    padding: 25px 25px;
    border-top: 1px solid #000;
}
.project-box:first-child {
    border-top: 0px;
}

.project-box:hover {
    color: #fff;
    background-color: #000;
}

.project-box img {
    @apply col-01__full md:col-01__third-left;
    border: 1px solid #000;
    height: 250px;
    width: 100%;
    object-fit: cover;
    @apply mb-[25px] md:mb-0;
}
.project-box .text-box {
    @apply col-01__full md:col-01__third-middle;
}

.text-box {
    @apply flex flex-col;
    @apply justify-between;
}

.text-box h2 {
    @apply text-01__h2-mobile lg:text-01__h2-desktop;
    @apply tracking-title-desktop;
    font-weight: 800;
    @apply leading-[23px];

    @apply mb-[25px] md:mb-0;
}

.text-box p {
    @apply text-01__p-mobile lg:text-01__p-desktop;
    font-weight: 300;
    @apply leading-[16px] lg:leading-[20px];
}
