.homepage {
    @apply overflow-y-scroll md:overflow-hidden;

    @apply grid;
    @apply grid-cols-01__content-mobile md:grid-cols-01__content-desktop;
    @apply grid-rows-01__homepage-mobile md:grid-rows-01__homepage-desktop;
    column-gap: 25px;
}

.photo-arthur {
    @apply col-01__full md:col-01__half-right;
    @apply row-01__homepage-top md:row-01__full;
    @apply h-[400px] sm:h-01__homepage-img-mobile md:h-01__homepage-img-desktop;
    @apply w-01__homepage-img;
    object-fit: cover;
    padding: 25px;
    @apply border-l-0 md:border-l border-black border-solid;
    @apply border-b md:border-b-0 border-black border-solid;
}

.homepage-content {
    @apply col-01__full md:col-01__half-left;
    @apply row-01__homepage-bottom md:row-01__full;
    @apply self-start md:self-center;
    padding: 25px;
}

.homepage-content h1 {
    @apply text-01__home-h1-mobile lg:text-01__home-h1-desktop;
    @apply tracking-title-desktop;
    font-weight: 800;
    @apply leading-[30px] md:leading-[40px];
    @apply pb-[15px] lg:pb-[25px];
}

.homepage-content h2 {
    @apply text-01__h2-mobile lg:text-01__h2-desktop;
    @apply tracking-title-desktop;
    font-weight: 800;
    @apply leading-[23px];
    @apply pb-[15px] lg:pb-[25px];
}
.logline,
.homepage-content p {
    @apply pb-[15px] lg:pb-[25px];
}
.homepage-content p,
.interest ul li,
.logline {
    @apply text-01__p-mobile lg:text-01__p-desktop;
    font-weight: 300;
}
